// Vendor
@import 'vendor/_normalize.scss';

// Modules
@import 'modules/_defaults.scss';
@import 'modules/_vars.scss';
@import 'modules/_typo.scss';

// Partials
@import 'partials/_nav.scss';
@import 'partials/_site-grid.scss';
@import 'partials/_about-popup.scss';
// @import 'partials/_button.scss';
// @import 'partials/_gallery.scss';
// @import 'partials/_contactform.scss';
// @import 'partials/_footer.scss';

.header {
	display: flex;
	align-items: flex-end;

	&__title {
		font: normal 700 82px/78px Merriweather, serif;
		color: #fff; 
		margin: 0;

		&-underscore {
			width: 38px;
			height: 6px;
			background-color: #fff;
			margin-left: 2px;
		}
	}

	&__subtitle {
		font: normal 300 16px Open Sans, sans-serif;
		letter-spacing: .4px;
		color: #222222;

		&-button {
			width: 50px;
			height: 50px;
			background-color: #222222;
			border-radius: 25px;
			margin: 0 15px 0 35px;
		}

		&-container {
			display: flex;
			align-items: center;
		}
		
	}

	@media screen and (min-width: 740px) {

		position: absolute;
		top: 30vh;
		left: calc(50vw - 178.78px);
		align-items: baseline;

		&__title {
			font: normal 700 144px/144px Merriweather, serif;

			&-underscore {
				width: 79px;
				height: 11px;
				margin-left: 6px;
				transform: translateY(17px);
			}
		}

		&__subtitle {
			font: normal 300 22px Open Sans, sans-serif;
			letter-spacing: 2.5px;

			&-button {
				margin: 0 15px 0 0;
			}

			&-container {
				position: absolute;
				top: 60vh;
				left: calc(50vw - 25px);
			}
		}
	}
}

// Portfolio items

.portfolio {
	
	&-item {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 22px 16px;
	}

	&__counter {
		font: normal 800 69px Montserrat, sans-serif;
		color: #ffdd55;
		text-decoration: underline;
		margin: 0 35px 0 10px;
	}

	&__title {
		font: normal 900 16px Merriweather, serif;
		text-transform: capitalize;
		margin-left: auto;
	}

	
	&__slider, &__details {
		justify-content: flex-start;
		width: 100%;
		height: 100%;
		margin-top: -3px;
		
		&-image {
			width: 100%;
			object-fit: cover;
		}
	}

	&__details {
		position: relative;
		padding: 2em 1.5em;
	}

	&__label {
		font: normal 600 16px Open Sans, sans-serif;
		text-transform: uppercase;
	}

	&__value {
		font: italic 300 16px Open Sans, sans-serif;
		line-height: 20px;
	}

	&__detail-item {
		width: 100%;
		letter-spacing: 2.2px;
		margin-bottom: 12px;
	}

	&__readmore-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 55px 0 30px 0;
		margin: 0;
	}

	&__readmore-button {
		width: 50px;
		height: 50px;
		background-color: #222222;
		border: none;
		border-radius: 25px;
		margin: 0 15px 0 -65px;
	}

	&__readmore-text {
		font: normal 300 16px Open Sans, sans-serif;
		letter-spacing: .4px;
		color: #222222;
	}

	&__buttons {
		display: flex;
		position: absolute;
		top: 2em;
		right: 1.5em;
		width: 100px;
	}

	&__button--link, &__button--github {
		width: 44px;
		height: 44px;
		background-color: #222222;
		border: none;
		border-radius: 25px;
		margin: 0;
	}

	&__button--link {
		margin-right: 12px;
	}

	&__collapse-button {
		position: absolute;
		bottom: -25px;
		left: calc(50% - 25px);
		width: 50px;
		height: 50px;
		background-color: #222222;
		border: none;
		border-radius: 25px;
	}
}