// Vendor
@import 'vendor/_normalize.scss';

// Modules
@import 'modules/_defaults.scss';
// @import 'modules/_vars.scss';
// @import 'modules/_typo.scss';


// Partials
// @import 'partials/_nav.scss';
// @import 'partials/_button.scss';
// @import 'partials/_container.scss';
// @import 'partials/_content-text.scss';
// @import 'partials/_gallery.scss';
// @import 'partials/_contactform.scss';
// @import 'partials/_footer.scss';

@import url('https://fonts.googleapis.com/css?family=Merriweather:700,900|Montserrat:800|Open+Sans:300,600,700,800');

* {
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body {
	width: 100%;
	height: 100%;
}

// Navigation

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 11px 0;

	&--yellow {
		background-color: #ffdd55;
	}
}

.titlebar {
	font: normal 700 16px Open Sans, sans-serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;

	&__link {
		color: #222222;
		&:hover {
			font-weight: 800;
		}
	}
}

.social-buttons {
	position: fixed;
	width: 40px;
	height: 40px;
	background-color: #222222;
	right: 0;
	bottom: 65px;
	z-index: 1000;
	&--linkedin, &--github {
		width: 27px;
		height: 27px;
		background-color: #fff;
		border-radius: 27px;
	}
	&:nth-of-type(2) {
		bottom: 108px;
	}
}

// Site grid

.site-grid {
	display: grid;
	grid-template-rows: 
	calc((100vh - 47px) / 5)
	calc((100vh - 47px) / 5)
	calc((100vh - 47px) / 5)
	calc((100vh - 47px) / 5)
	calc((100vh - 47px) / 5);
	grid-gap: 3px;
	background-color: #fff;

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		background-color: #ffdd55;

		&--white {
			justify-content: flex-start;
			background-color: #fff;
		}

		&--active {
			grid-row: 100fr;
		}
	}

	&--white {
		background-color: #ffdd55;
	}
}

.header {
	display: flex;
	align-items: flex-end;

	&__title {
		font: normal 700 82px/78px Merriweather, serif;
		color: #fff; 
		margin: 0;

		&-underscore {
			width: 38px;
			height: 6px;
			background-color: #fff;
			margin-left: 2px;
		}
	}

	&__subtitle {
		font: normal 300 16px Open Sans, sans-serif;
		letter-spacing: .4px;
		color: #222222;

		&-button {
			width: 50px;
			height: 50px;
			background-color: #222222;
			border-radius: 25px;
			margin: 0 15px 0 35px;
		}

		&-container {
			display: flex;
			align-items: center;
		}
	}

}

// About pop-up

.about__popup {
	background-color: #fff;
	text-align: center;
	z-index: 900;
}

.popup {
	color: #222222;

	&__image {
		width: 100vw;
		height: calc((100vh - 47px) / 5);
		object-fit: cover;
	}

	&__title {
		font: normal 700 31px Merriweather, serif;
	}

	&__subtitle {
		font: normal 300 15px/30px Open Sans, sans-serif;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	&__text {
		font: normal 300 16px/23px Open Sans, sans-serif;
		margin-bottom: 1em;
	}
}

// Portfolio items

.portfolio {
	
	&-item {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 22px 16px;
	}

	&__counter {
		font: normal 800 69px Montserrat, sans-serif;
		color: #ffdd55;
		text-decoration: underline;
		margin: 0 35px 0 10px;
	}

	&__title {
		font: normal 900 16px Merriweather, serif;
		text-transform: capitalize;
		margin-left: auto;
	}

	&_content {
		width: 100%;
	}
	
	&__slider {
		width: 100%;
		height: 100%;
		
		&-image {
			width: 100%;
			object-fit: cover;
		}
	}
}

// .portfolio-item {
// 	display: flex;
// 	justify-content: flex-end;
// 	align-items: center;
// 	padding: 22px 16px;

// 	&__counter {
// 		font: normal 800 69px Montserrat, sans-serif;
// 		color: #ffdd55;
// 		text-decoration: underline;
// 		margin: 0 35px 0 10px;
// 	}

// 	&__title {
// 		font: normal 900 16px Merriweather, serif;
// 		text-transform: capitalize;
// 		margin-left: auto;
// 	}
// }

// .portfolio__content {
// 	width: 100%;
// }

// .portfolio__slider {
// 	width: 100%;
// 	height: 100%;
	
// 	&-image {
// 		width: 100%;
// 		object-fit: cover;
// 	}
// }